.wrapper {
  position: relative;
  .media {
    img {
      max-width: 100%;
    }
  }
  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    padding: 2rem;
    font-family: var(--font, Helvetica, Arial, sans-serif);
    align-items: center;
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
    * {
      margin: .5rem 0 .5rem 0;
    }
    h1 {
      color: var(--text-color, white);
    }
    p {
      color: var(--subtext-color, white);
    }
    a {
      color: var(--callout-color, white);
      border: 1px solid var(--callout-color, white);
      text-decoration: none;
      padding: 1em;
      transition: all .2s;
      &:hover {
        background-color: var(--callout-color, white);
        color: var(--callout-hover-color, black);
      }
    }
  }
}
